@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background: url("./valdemaras-d-7VPFyhB_j8Y-unsplash.jpg") no-repeat center
    center/cover;
  height: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "roboto";
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  background-color: rgb(58, 54, 54);
  border: solid 2px white;
  border-radius: 6px;
  font-size: 60px;
  padding: 0 15px;
  font-weight: 500;
  color: rgb(252, 246, 246);
}

.quote-container {
  background-color: white;
  width: 80%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 3px solid rgb(58, 54, 54);
  border-radius: 8px;
  gap: 1px;
  margin: 0;
}
.quote {
  line-height: 1.5rem;
}
.person {
  color: rgb(58, 54, 54);
  margin-top: 0;
}

.btn {
  background-color: rgb(58, 54, 54);
  color: white;
  border-radius: 5px;
  font-size: 30px;
}
